.container {
	width: 1280px;
	margin: 0 auto;
}

.logo {
	color: #4bcaff;
	font-family: "Myriad Pro", sans-serif;
	font-size: 70px;
	text-decoration: none;
	display: inline-block;
	margin-top: 61px;
	margin-bottom: 45px;
}

.text-color-ra {
	color: #000000;
}

.change-theme {
	color: #35444f;
	display: inline;
    font-size: 2rem;
    border: 5px solid #35444f;
    border-radius: 10px;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    margin-left: -225px;
    padding: 25px;

}
.change-theme:hover {
	border: 5px solid black;
	color: white;
	background-color: orange;
}

.change-theme:active {
      transform: none;
      box-shadow: none;
    }


   		/*TOP-NAVBAR-START*/

.top-navbar-menu {
	background-color:  #35444f;
	height: 70px;
	text-align: center;
}

.top-menu-item {
	display: inline-block;
	margin-top: 23px;
	margin-bottom: 23px;
}

.top-navbar-link {
	font-family: 'Myriad Pro', sans-serif;
	color:  #ffffff;
	font-size: 20px;
	text-decoration: none;
	background-color: #35444f;
	padding: 21px 41px 25px 41px;
}

.top-navbar-link:hover {
	background-color: #222f3a;
}

		/*TOP-NAVBAR-END*/

		/*LEFT-NAVBAR-START*/

.menu-image {
	margin-top: 50px;
}

.left-navbar-menu {
	border: 1px solid black;
	width: 300px;
	display: inline-block;
}

.left-navbar-link {
	font-family: 'Myriad Pro', sans-serif;
	color:  #485863;
	font-size: 23px;
	text-decoration: none;
	display: inline-block;
	margin: 30px 43px;
	position: relative;
}

.left-menu-item:hover {
	background-color: #dcdcdc;
}

.left-navbar-link:hover {
	left: 20px;
	color: #35444f;
}

		/*LEFT-NAVABR-END*/

.border-img {
	border: 1px solid black;
	text-align: center;
	width: 885px;
	margin-bottom: 50px;
	float: right;
}

.main-top-img {
	margin: 70px 0;
	overflow: hidden;
	transition: all 1s ease-out;
}

.main-top-img:hover {
	transform: scale(1.1);
}

	/*DESCRIPTION-START*/

.text-description {
	font-family: 'Myriad Pro', sans-serif;
	color: #2c2b2b;
	font-size: 16.5px;
	text-align: left;
	width: 820px;
	float: right;
	margin-right: 35px;
	margin-bottom: 30px;
}

	/*DESCRIPTION-END*/

	/*FOOTER-NAVBAR-START*/

.footer {
	margin-top: 20px;
}

.footer-navbar-menu {
	background-color: #b5b8bb;
	padding: 23px 0;
	margin-bottom: 30px;
}

.footer-menu-item {
	display: inline-block;
	margin-left: 44px;
}

.footer-navbar-link {
	text-decoration: none;
	font-family: 'Myriad Pro', sans-serif;
	color: #0c1927;
	font-size: 24px;
	font-weight: 500;
	display: inline-block;
	border-bottom: 1px solid #b5b8bb;
	padding-bottom: 3px;
}

.copyright {
	float: right;
	margin-right: 35px;
}

.copyright-text {
	font-family: 'Myriad Pro', sans-serif;
	color: #010000;
	font-size: 22px;
	font-weight: 530;
}

.footer-navbar-link:hover {
	color: #3181a6;
	border-bottom: 1px solid #3181a6;
}

.clearfix:after {
	content: "";
    display: table;
    clear: both;
}

	/*FOOTER-NAVBAR-END*/