#clock {
    text-align: center;
    font: 40px Alfa Slab One, sans-serif;
    margin: 12px;
    color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-left: auto;
    margin-right: auto;

}

button {
    font-size: 19px;
    border: 2px solid white;
    width: 150px;
    border-radius: 20px;
    height: 70px;
}

#restart {
    background-color: red;
    color: white;
}

#startButton {
    background-color: red;
    color: white;
}
button, 
button:active, 
button:focus {
    outline: none;
}
